<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<h2>ASSESMENT RESULT</h2>


<p>
    <table class="table table-sm">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Score</th>
            <th scope="col">Phone number</th>
            <th scope="col">assesment_time</th>
            
       
            </tr>
        </thead>
        {% for d in data %}
        <tr>
        <td class="table-active">{{d.name}}</td>
        <td class="table-primary">{{d.email}}</td>
        <td class="table-secondary">{{d.score}}</td>
        <td class="table-success">{{d.number}}</td>
        <td class="table-danger">{{d.assesment_time}}</td>
        
           
        </tr> 
    
    </table>

    
</p>
{% endfor %}
 
    
</body>
